certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.7
iniconfig==2.0.0
interchange==2021.0.4
loguru==0.7.2
monotonic==1.6
packaging==24.0
pansi==2020.7.3
pluggy==1.4.0
py2neo==2021.2.4
Pygments==2.17.2
pytest==8.1.1
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.3
requests==2.32.0
six==1.16.0
slack_sdk==3.27.1
tqdm==4.66.3
urllib3==2.2.1
