name: Test PR

on: [pull_request]

jobs:
  python-style:
    name: Style-check and lint Python files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: python -m pip install black flake8
      - name: Black
        run: python -m black --diff --check .

  test_raven:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test Organization
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          make test-build

  test_raven_package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Build Package
        run: python setup.py install

      - name: Setup environment
        run: make setup

      - name: Download Organization
        run: |
          raven download org --token ${{ secrets.GITHUB_TOKEN }} --org-name RavenDemo --debug
          raven index